@{
    String username;
   
        username = ViewBag.AccountUsername;
    
  

}
<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Coron - Fashion eCommerce Bootstrap4 Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets\img\favicon.png">

    <!-- all css here -->
    <link rel="stylesheet" href="..\..\..\assets\css\main.css">
    <link rel="stylesheet" type="text/css" href="..\..\..\assets\css\font-awesome\4.7.0\css\font-awesome.min.css" />


</head>

<body class="app sidebar-mini rtl">
    <!-- Navbar-->
    <header class="app-header">
        <a class="app-header__logo" href="index-2.html">POS CORON</a>
        <!-- Sidebar toggle button--><a class="app-sidebar__toggle"
                                        href="#"
                                        data-toggle="sidebar"
                                        aria-label="Hide Sidebar"></a>
        <!-- Navbar Right Menu-->
        <ul class="app-nav">

            <!--Notification Menu-->
            <!-- User Menu-->
            <li class="dropdown">
                <a class="app-nav__item" asp-controller="Login" asp-action="LogoutAdmin">
                    LOGOUT 
                    <i class="fa fa-sign-out fa-lg"></i>
                </a>

            </li>
        </ul>
    </header>
    <!-- Sidebar menu-->
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
        <div class="app-sidebar__user">
            <div>
                <p class="app-sidebar__user-name">Welcome @username</p>
                <p class="app-sidebar__user-designation"></p>
            </div>
        </div>
        <ul class="app-menu">
            <li>
                <a class="app-menu__item " href="/Profile">
                    <i class="app-menu__icon fa fa-user fa-lg"></i><span class="app-menu__label">Proflie</span>
                </a>
            </li>

            <li>
                <a class="app-menu__item " href="/Accounts">
                    <i class="app-menu__icon fa fa-users fa-1x"></i><span class="app-menu__label">Account</span>
                </a>
            </li>
            <li>
                <a class="app-menu__item " href="/Invoices">
                    <i class="app-menu__icon "></i><span class="app-menu__label">Invoice</span>
                </a>
            </li>
            <li>
                <a class="app-menu__item " href="/InvoiceDetails">
                    <i class="app-menu__icon"></i><span class="app-menu__label">InvoiceDetail</span>
                </a>
            </li>
            <li>
                <a class="app-menu__item " href="/Product">
                    <i class="app-menu__icon "></i><span class="app-menu__label">Product</span>
                </a>
            </li>
            <li>
                <a class="app-menu__item " href="Carts">
                    <i class="app-menu__icon "></i><span class="app-menu__label">Cart</span>
                </a>
            </li>


        </ul>
    </aside>
    <main class="app-content">

        <div>
            @RenderBody()
        </div>
    </main>

    <!--pos home section end-->
    <!-- modal area end -->
    <!-- all js here -->
    <script src="..\..\..\assets\js\vendor\jquery-3.2.1.min.js"></script>
    <script src="..\..\..\assets\js\popper.min.js"></script>
    <script src="..\..\..\assets\js\bootstrap.min.js"></script>
    <script src="..\..\..\assets\js\ajax-mail.js"></script>
    <script src="..\..\..\assets\js\plugins.js"></script>
    <script src="..\..\..\assets\js\main.js"></script>
    <script src="..\..\..\assets\js\plugins\pace.min.js"></script>
</body>
</html>
